@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 56px;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav .left {
    /* width: 146px; */
    height: 24px;
}

nav .left img {
    width: 24px;
    height: 24px;
    margin-left: 24px;
}

nav .left .YT {
    width: 90px;
    height: 20px;
}

nav .center {
    display: flex;
    /* display flex, para ficaraem um do lado do outro(nesse caso) */
    height: 40px;
    border: 1px solid #CCCCCC;
    margin-top: 8px;
}

nav .center input {
    width: 348px;
    height: 40px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

nav .center .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #CCCCCC;
    background-color: #F8F8F8;
}

nav .center .search img {
    width: 24px;
    height: 24px;
}

nav .right {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-right: 24px;
}

nav .right img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

nav .right .icons {
    width: 24px;
    height: 24px;
}
/* MAIN VIDEO */
main {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

main .mainVideo {
    width: 952px;
    height: 746px;
}
.mainVideo img{
    width: 100%;
}
.mainVideo h3{
    padding: 16px 0px;
    font-size: 21px;
}

main .sideBar {
    width: 400px;
}
.mainVideo span{
    padding: 24px 0px;
    font-weight: 600;
    font-style: semibold;
    
}
main .videoActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videoActions span {
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-style: semibold;
}

.videoActions img {
    width: 24px;
    height: 24px;
}

.videoActions>img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.videoActions .chanelsInfos{
    margin-left: -27px;
}
.chanelsInfos span{
    margin: 0;
    padding: 0;
}
.like,.dislike,.download,.share{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
}
.videoActions button{
    background-color: #CC0000;
    border-color: #d80000;
    color: rgb(255, 255, 255);
    width: 159px;
    height: 40px;
}
.mainVideo>p{
   margin: 16px 0px; 
   width: 510px;
   font-weight: 400;
   font-size: 14px;
   color: #515151;
}
.sideBar img{
    width: 160px;
    height: 90px;
}
.video{
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}
.infos{
    width: 200px;
}
.infos p{
    color: #515151;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}
.infos span{
    font-weight: 600;
    font-style: semibold;
    font-size: 14px;
    width: 100%;
}



